type = process
command = /usr/bin/dropbear -F -P /run/dropbear.pid -R
logfile = /var/log/dropbear.log
smooth-recovery = true
depends-on = login.target
depends-on = network.target
