type = process
command = fcgiwrap -s unix:/var/run/fcgiwrap/socket
stop-command = rm /var/run/fcgiwrap/socket
run-as = www-data
smooth-recovery = true
restart = false
depends-on = target-login
depends-on = fcgiwrap-prerun
