type = process
command = /sbin/getty tty@TTYNUM@ 115200
restart = true
termsignal = HUP
smooth-recovery = true
inittab-id = @TTYNUM@
inittab-line = tty@TTYNUM@
depends-on = rc.target
before = login.target
