type       = scripted
command    = /usr/lib/dinit/exec/plymouth-boot start
stop-command = /usr/lib/dinit/exec/plymouth-boot stop
depends-on = rc.target
before     = login.target
