type       = scripted
command    = plymouth quit
stop-command = /usr/lib/dinit/exec/shutdown/plymouth-shutdown
depends-on = rc.target
before     = login.target
