type               = process
command            = seatd -n 3
smooth-recovery    = true
logfile            = /var/log/seatd.log
ready-notification = pipefd:3
waits-for          = target-login
