type = process
command = /usr/bin/sing-box run -c /etc/sing-box/config.json
depends-on = network.target
log-type = file
logfile = /var/log/sing-box.log
