type = process
command = /sbin/getty tty2 38400
restart = true
depends-on = target-login
termsignal = HUP
smooth-recovery = true
inittab-id = 1
inittab-line = tty1
