type = process
command = /sbin/getty ttyInit 115200
restart = true
termsignal = HUP
smooth-recovery = true
inittab-id = 0
inittab-line = tty0
depends-on = target-login
