type = process
command = unixserver /run/utmps/.utmpd-socket utmps-utmpd
working-dir = /run/utmps
run-as = utmp
socket-listen = /run/utmps/.utmpd-socket
depends-on = rcboot
