type = process
command = tty2socket -m 777 --s6 /run/utmps/.wtmpd-socket utmps-wtmpd
working-dir = /run/utmps
run-as = utmp
depends-on = pawprint
depends-ms = pawprint
depends-ms = catnest
depends-on = early-fs.target

